@model ExampleProject.Components.ExampleComponentParameters

@{
    Layout = null;
}

<div id="@($"example{Model.Id}")" style="opacity: 0;" class="examplecomponent @Model.CssClass">
    <p>This is from an example component! With ID: @Model.Id</p>
</div>